@import "tailwindcss";

:root {
  --bg-color: #fdfdfd;
  --primary-text-color: #333;
  --secondary-text-color: #666;
  --main-color: #754ef9;
  --white-color: #fdfdfd;

  --border-color: rgba(0, 0, 0, .2);
  --shadow-color: rgba(0, 0, 0, .1);
}

@theme inline {
  --color-background: var(--bg-color);
  --color-primary-foreground: var(--primary-text-color);
  --color-secondary-foreground: var(--secondary-text-color);

  --font-jakarta-sans: var(--font-jakarta-sans);

  --color-primary: var(--main-color);
  --color-secondary: var(--white-color);
  --color-shadow: var(--shadow-color);
  --color-border: var(--border-color);
}

body {
  color: var(--primary-text-color);
  background: var(--bg-color);
  font-family: var(--font-jakarta-sans), Arial, Helvetica, sans-serif;
}

html.dark-mode {
  --color-background: var(--bg-color);
  --color-primary-foreground: var(--primary-text-color);
  --color-secondary-foreground: var(--secondary-text-color);
  --color-border: var(--border-color);
}

i {
  font-size: 24px;
  background: transparent;
  color: var(--main-color);
}